:root {
    overflow: hidden;
}

.chat-feed-container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 13vh 75vh 12vh;
    background-color: #dfdfdf;
}

.chat-message-container {
    height: 100%;
    overflow-x: hidden;

    &::-webkit-scrollbar-track
    {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: transparent;
    }

    &::-webkit-scrollbar
    {
        width: 8px;
        background-color: transparend;
    }

    &::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #54a0ff;
    }
}

.chat-title-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    text-align: center;
    background-color: #dfdfdf;
    border: 1px solid red;
}

.chat-title {
    h2 {
        font-size: 1.75rem;
    }

    p {
        font-size: 12px;
    }
}

.bg-dark {
    background-color: #38393A;
}

.light-text {
    color: #efefef;
}

/*separador de fechas en el chat*/
.ce-message-date-text { 
    width: 100%; 
    text-align: center;
    padding-top: 4px;
    padding-bottom: 10px;
    font-size: 15px;
    color: rgba(0, 0, 0, .60);
}