.space {
    height: 100px;
}

.message-form-container {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 18px;
    background-image: linear-gradient(to top, #f0f0f0 80%, transparent);
}

.message-form {
    overflow: hidden;
    border-radius: 5px;
    background-color: white;
    background: linear-gradient(145deg, #d7d7d7, #ffffff);
    box-shadow:  15px 15px 40px rgba(0,0,0,.25),
                -15px -15px 40px rgba(255,255,255,.25);
}

.message-input {
    height: 48px;
    width: calc(100% - 75px);
    background: transparent;
    border: none;
    padding: 0px 18px;
    outline: none;
    font-size: 15px;
}

.image-button {
    cursor: pointer;
    padding: 0px 12px;
    height: 100%;
}

.send-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.send-icon {
    font-size: 1.6em;
}

.picture-icon {
    position: relative;
    font-size: 1.4em;
}