.space {
    height: 100px;
}

.message-form-container {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    background-color: white;
    background: linear-gradient(145deg, #d7d7d7, #ffffff);
    box-shadow:  15px 15px 40px rgba(0,0,0,.25),
                -15px -15px 40px rgba(255,255,255,.25);
}

.message-form-grid {
    padding: 12px 0px;
    display: grid;
    grid-template-columns: min-content 1fr;
}

.message-form {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr;
}

.textarea-input {
    padding: 4px 12px;
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
    resize: none;
    background-color: rgba(255,255,255,1);
}

.image-button {
    padding: 0px 12px;
    cursor: pointer;
}

.send-button {
    border: none;
    background-color: transparent;
    padding: 0px 12px;
    cursor: pointer;
}

.send-icon {
    font-size: 1.7em;
    color: #5f5f5f;

    &:hover {
        color: #54a0ff;
    }
}

.picture-icon {
    font-size: 1.7em;
    color: #5f5f5f;

    &:hover {
        color: #54a0ff;
    }
    
}

.message-dark {
    background-image: linear-gradient(to top, #38393A 80%, transparent);
}

/*el thumbnail para enviar imagenes*/
.thumbnail-container {
    padding: 12px 6px;

    .image-square {
        height: 108px; 
        width: 108px; 
        border: 1px solid #afafaf;
        border-radius: 8px;
        object-fit: cover;
        display: inline;
    }

    .close-icon {
        position: relative; 
        bottom: 91px; 
        right: 20px; 
        width: 0px; 
        cursor: pointer;
        outline: none;
    }
}