.sign-btn {
    border: none;
    margin-left: 5%;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: transparent;
    color: #efefef;
    outline: none;
    box-shadow: 1px 1px 5px rgba(#000, .5),
                -1px -1px 5px rgba(#fff, .25);
    cursor: pointer;

    &:hover {
        box-shadow: inset 1px 1px 5px rgba(#000, .5),
                inset -1px -1px 5px rgba(#fff, .25);
    }
}

.sign-modal {
    max-width: 480px;
    width: 90%;
    height: 540px;
    padding: 20px;
    background-color: #54a0ff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    top: -200%;
    right: 0;
    left: 0;
    bottom: 0;
    transition: all .4s ease-in;
}

.register {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.repeat-password-container {
    width: 100%;
    margin-bottom: 25px;

    #repeat-password {
        margin-bottom: 0;
    }

    #pw-error {
        margin-left: 5%;
        color: #a00;
        display: none;
    }
}

.toggle-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    color: #efefef;
    outline: none;
    background-color: transparent;

    .toggle-icon {
        font-size: 2.5em;
    }

    &:hover {
        color: #b00;
    }
}