@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62, 5%;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.5px;
  box-sizing: border-box;
}

:root {
  overflow: hidden;
}

.chat-feed-container {
  height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 13vh 1fr minmax(min-content, max-content);
      grid-template-rows: 13vh 1fr minmax(-webkit-min-content, -webkit-max-content);
      grid-template-rows: 13vh 1fr minmax(min-content, max-content);
  background-color: #dfdfdf;
}

.chat-message-container {
  height: 100%;
  overflow-x: hidden;
}

.chat-message-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent;
}

.chat-message-container::-webkit-scrollbar {
  width: 8px;
  background-color: transparend;
}

.chat-message-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #54a0ff;
}

.chat-title-container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  text-align: center;
  background-color: #dfdfdf;
  border: 1px solid red;
}

.chat-title h2 {
  font-size: 1.75rem;
}

.chat-title p {
  font-size: 12px;
}

.bg-dark {
  background-color: #38393A;
}

.light-text {
  color: #efefef;
}

/*separador de fechas en el chat*/
.ce-message-date-text {
  width: 100%;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 10px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
}

.loader-div {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader {
  width: 200px;
  -webkit-animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@-webkit-keyframes lds-circle {
  0%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
            animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(1800deg);
            transform: rotateY(1800deg);
    -webkit-animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
            animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    -webkit-transform: rotateY(3600deg);
            transform: rotateY(3600deg);
  }
}

@keyframes lds-circle {
  0%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
            animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(1800deg);
            transform: rotateY(1800deg);
    -webkit-animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
            animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    -webkit-transform: rotateY(3600deg);
            transform: rotateY(3600deg);
  }
}

.ce-chat-list {
  background-color: #f0f0f0 !important;
}

.ce-chats-container {
  background-color: #f0f0f0 !important;
}

.ce-active-chat-card {
  background-color: #cabcdc !important;
  border: 4px solid #cabcdc !important;
  border-radius: 0px !important;
}

.ce-chat-subtitle-text {
  color: #595959 !important;
}

.ce-chat-form-container {
  padding-bottom: 20px !important;
}

.ce-text-input {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
}

.ce-primary-button {
  border-radius: 6px !important;
  background-color: #7554a0 !important;
  position: relative;
  bottom: 1px;
}

.ce-danger-button {
  background-color: white !important;
  border-radius: 22px !important;
}

.ce-settings {
  background-color: #f0f0f0 !important;
}

.ce-autocomplete-input {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
}

.ce-autocomplete-options {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
  background-color: white !important;
}

.ce-chat-settings-container {
  padding-top: 12px !important;
}

.ce-chat-avatars-row {
  display: none !important;
}

.message-row {
  float: left;
  width: calc(100% - 18px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 18px;
}

.message-block {
  width: 100%;
  display: inline-block;
}

.message-avatar {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px;
}

.my-message {
  padding: 12px;
  font-size: 16px;
  border-radius: 6px 0px 6px 6px;
  max-width: 60%;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
  background-color: #54a0ff;
  float: right;
  margin-bottom: 10px;
  margin-right: 18px;
  color: #fff;
  word-wrap: break-word;
}

.their-message {
  padding: 12px;
  font-size: 16px;
  border-radius: 0px 10px 10px 10px;
  max-width: 60%;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
  background-color: #efefef;
  float: left;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.thumbnail {
  margin-right: 18px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
  max-height: 300px;
  max-width: 300px;
  min-height: 100px;
  min-width: 100px;
  margin-bottom: 10px;
}

.space {
  height: 100px;
}

.message-form-container {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  background-color: white;
  background: linear-gradient(145deg, #d7d7d7, #ffffff);
  -webkit-box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.25), -15px -15px 40px rgba(255, 255, 255, 0.25);
          box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.25), -15px -15px 40px rgba(255, 255, 255, 0.25);
}

.message-form-grid {
  padding: 12px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
}

.message-form {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr min-content;
      grid-template-columns: 1fr -webkit-min-content;
      grid-template-columns: 1fr min-content;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.textarea-input {
  padding: 4px 12px;
  width: 100%;
  border: none;
  border-radius: 5px;
  outline: none;
  resize: none;
  background-color: white;
}

.image-button {
  padding: 0px 12px;
  cursor: pointer;
}

.send-button {
  border: none;
  background-color: transparent;
  padding: 0px 12px;
  cursor: pointer;
}

.send-icon {
  font-size: 1.7em;
  color: #5f5f5f;
}

.send-icon:hover {
  color: #54a0ff;
}

.picture-icon {
  font-size: 1.7em;
  color: #5f5f5f;
}

.picture-icon:hover {
  color: #54a0ff;
}

.message-dark {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(80%, #38393A), to(transparent));
  background-image: linear-gradient(to top, #38393A 80%, transparent);
}

/*el thumbnail para enviar imagenes*/
.thumbnail-container {
  padding: 12px 6px;
}

.thumbnail-container .image-square {
  height: 108px;
  width: 108px;
  border: 1px solid #afafaf;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  display: inline;
}

.thumbnail-container .close-icon {
  position: relative;
  bottom: 91px;
  right: 20px;
  width: 0px;
  cursor: pointer;
  outline: none;
}

.wrapper {
  height: 100vh;
  width: 100%;
  background: #7554a0;
  background: #38393A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  color: #efefef;
  font-size: 4em;
  text-align: center;
  width: 100%;
}

.input {
  color: #efefef;
  font-size: 1.2rem;
  margin: 0 auto 25px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: transparent;
  -webkit-box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.5), inset -2px -2px 6px rgba(255, 255, 255, 0.25);
          box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.5), inset -2px -2px 6px rgba(255, 255, 255, 0.25);
  border: none;
  width: 90%;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
}

.input:focus {
  color: #303030;
  background-color: #efefef;
  -webkit-box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.5);
          box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.form {
  width: 400px;
}

.title {
  text-align: center;
  color: white;
  margin-bottom: 30px;
  width: 100%;
  font-size: 2.3em;
  font-family: 'Lexend Exa', sans-serif;
}

.submit-btn {
  border-radius: 5px;
  width: 90%;
  border: none;
  background-color: transparent;
  color: #efefef;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 10px 15px;
  cursor: pointer;
  margin: 5px;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -5px -5px 15px rgba(255, 255, 255, 0.25);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -5px -5px 15px rgba(255, 255, 255, 0.25);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  outline: none;
}

.submit-btn:hover {
  -webkit-box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.5), inset -5px -5px 15px rgba(255, 255, 255, 0.25);
          box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.5), inset -5px -5px 15px rgba(255, 255, 255, 0.25);
  color: #3f3f3f;
}

.submit-btn:active {
  background-color: #fff;
}

.submit-btn:disabled {
  background-color: #777;
  color: #aaa;
}

.error {
  padding: 10px 0;
  font-size: 0.7em;
  color: #ff5400;
}

.footer {
  width: 100%;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
}

.footer a {
  text-decoration: none;
  color: #efefef;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.footer a:hover {
  color: #54a0ff;
}

.sign-btn {
  border: none;
  margin-left: 5%;
  padding: 2px 5px;
  border-radius: 5px;
  background-color: transparent;
  color: #efefef;
  outline: none;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), -1px -1px 5px rgba(255, 255, 255, 0.25);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), -1px -1px 5px rgba(255, 255, 255, 0.25);
  cursor: pointer;
}

.sign-btn:hover {
  -webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5), inset -1px -1px 5px rgba(255, 255, 255, 0.25);
          box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5), inset -1px -1px 5px rgba(255, 255, 255, 0.25);
}

.sign-modal {
  max-width: 480px;
  width: 90%;
  height: 540px;
  padding: 20px;
  background-color: #54a0ff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  margin: auto;
  top: -200%;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.register {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.repeat-password-container {
  width: 100%;
  margin-bottom: 25px;
}

.repeat-password-container #repeat-password {
  margin-bottom: 0;
}

.repeat-password-container #pw-error {
  margin-left: 5%;
  color: #a00;
  display: none;
}

.toggle-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  color: #efefef;
  outline: none;
  background-color: transparent;
}

.toggle-btn .toggle-icon {
  font-size: 2.5em;
}

.toggle-btn:hover {
  color: #b00;
}

.checkbox {
  display: none;
}

.checkbox:checked + .label {
  background-color: #38393A;
}

.label {
  background-color: #efefef;
  border-radius: 50px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  position: absolute;
  top: 20px;
  right: 10px;
  height: 26px;
  width: 50px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25), -3px -3px 10px rgba(255, 255, 255, 0.25);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25), -3px -3px 10px rgba(255, 255, 255, 0.25);
}

.label .ball {
  background-color: #cfcfcf;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}
/*# sourceMappingURL=styles.css.map */